/* Media query for screens up to 1024px wide */
@media (max-width: 1024px) {
    /* Styles for the about section can be added here if needed */
}

/* Media query for screens up to 991px wide */
@media (max-width: 991px) {
    /* Adjust width and styling for text content */
    .text-content {
        width: 100%;
    }
    /* Adjust logo height and alignment in navigation bar */
    .navigation-wrap .navbar-brand img {
        height: 3.8125rem;
    }
    /* Center-align navigation bar and change its background color */
    .navigation-wrap {
        text-align: center;
        background-color: var(--white-color);
    }
    /* Adjust line height for navigation links */
    .navigation-wrap .nav-link {
        line-height: 1.875rem;
    }
    /* Adjust padding for the top banner section */
    .top-banner {
        padding: 9.375rem 0 9.375rem;
    }
    /* Adjust height and padding for the story section */
    .story-section {
        height: auto;
        padding: 3rem 0;
    }
    /* Reduce padding for testimonial captions */
    .testimonial-section .carousel-item .carousel-caption p {
        padding: 0;
    }
}

/* Media query for screens up to 767px wide */
@media (max-width: 767px) {
    /* Adjust font size for headings */
    h1 {
        font-size: 2.8rem;
    }
    h2 {
        font-size: 2rem;
        line-height: 2.0625rem;
    }
    /* Adjust padding for the top banner section */
    .top-banner {
        padding: 10.875rem 0 9.375rem;
    }
    /* Adjust height and padding for the story section */
    .story-section {
        height: auto;
        padding: 3rem 0;
    }
    /* Adjust padding for testimonial items */
    .testimonial-section .carousel-item {
        padding: 11rem 3.125rem;
    }
    /* Adjust width and margin for newsletter section */
    .newsletter {
        width: 75%;
    }
    /* Adjust button width and margin in newsletter section */
    .newsletter .main-btn {
        width: 100%;
        margin-top: 1rem;
    }
    /* Adjust padding for footer links and icons */
    .footer .footer-link,
    .footer a i {
        padding: 0 0.7rem;
    }
}

/* Media query for screens up to 330px wide */
@media (max-width: 330px) {
    /* Further adjust padding for testimonial items */
    .testimonial-section .carousel-item {
        padding: 13rem 3.125rem;
    }
}
